.contact-form-container {
    background-color: transparent;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    border-bottom: aquamarine solid 2px;
}

label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
    color: aquamarine;
}

fieldset {
    border: green;
    padding: 0px;
}

input, textarea {
    width: 100%;
    margin-bottom: 1rem;
    padding: 0.8rem;
    border: 1px solid aquamarine;
    background-color: black;
    color: aquamarine;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 1rem;
}

textarea {
    resize: vertical;
}

#submit-button {
    border-color: lightsalmon;
    background-color: transparent;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s;

}

#submit-button:hover {
    background-color: lightsalmon;
}

@media(max-width:999px) {
    .contact-form-container {
        border-bottom: #F0F0F0 solid 2px;
    }
    label {
        color: #F0F0F0;
    }
    
    fieldset {
        border: #F0F0F0;
    }
    
    input, textarea {
        border: 1px solid #F0F0F0;
        background-color: transparent;
        color: #F0F0F0;
    }

    #submit-button {
        border-color: #F0F0F0;
        color: white;
    }
    
    #submit-button:hover {
        background-color: #c6b4b4;
    }

}